---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
  <h1>cycle</h1>
  <Banner
    h3_1="SORTING GUIDE"
    h3_2="WASTE EXPERIENCE"
    h3_3="THE CYCLE OF LIFE"
  />
</Layout>
