---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import FeatureGrid from "../components/FeatureGrid.astro";
import Welcome from "../components/Welcome.astro";
---

<Layout>
  <h1>hello</h1>
  <Banner
    h3_1="SORTING GUIDE"
    h3_2="WASTE EXPERIENCE"
    h3_3="THE CYCLE OF LIFE"
  />
  <Welcome />
  <FeatureGrid />
</Layout>
