---
import "../styles/generel.css";
import BoxButton from "./BoxButton.astro";
---

<section class="experience-hero" id="experience-section">
  <div class="experience-inner">
    <div class="experience-text" data-aos="fade-right">
      <h2>HOW TO SORT LIKE A PRO</h2>
      <h3>Not sure what goes where? Don’t worry — we’ve got you!</h3>

      <p>
        Sorting waste in a new city can be confusing, but it doesn’t have to be.
        This guide gives you a quick and easy overview of how to sort the most
        common types of waste in Lisbon, from glass bottles to paper, packaging,
        and organics.
      </p>

      <p>
        Perfect for you who want to keep the city clean and do your part for a
        more sustainable Lisbon (no dictionary needed!).
      </p>

      <BoxButton
        buttontext="START SORTING NOW"
        buttonurl="/guide#sorting-guide"
        maxWidth="auto"
      />
    </div>

    <div class="experience-graphic">
      <img src="/img/globe.svg" alt="logo" loading="lazy" />
    </div>
  </div>
</section>

<style>
  .experience-hero {
    padding: 13rem 1.5rem;
    padding-top: 13rem;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    border-bottom: 0.5px solid var(--ashbrown);
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  h2,
  h3,
  p {
    position: relative;
    z-index: 2;
  }

  p {
    margin-bottom: 1rem;
  }

  .experience-inner {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .experience-text {
    max-width: 660px;
    position: relative;
    z-index: 2; /* sikrer tekst ligger over billedet */
  }

  .experience-subtitle {
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.3;
    font-family:
      lexend giga,
      sans-serif;
    font-weight: 400;
    color: var(--ashbrown);
  }

  .experience-graphic {
    flex: 1;
    display: flex;
    z-index: 1;
    justify-content: center;
    margin-left: -10rem;
    pointer-events: none; /* tillader klik gennem animering */
  }

  .experience-graphic img {
    width: 400px;
    height: auto;
    display: block;
    animation: spin 35s linear infinite;
    opacity: 0.8;
    transform-origin: center;
  }

  /* Smooth endless rotation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 900px) {
    .experience-inner {
      flex-direction: column;
      align-items: flex-start;
    }

    .experience-hero {
      padding: 2rem 3rem;
      padding-top: 13rem;
    }

    .experience-graphic {
      position: static; /* normal flow på mobil */
      transform: none;
      margin-bottom: 2rem;
    }

    .experience-graphic img {
      max-width: 200px;
      animation: none;
      margin-top: -6rem;
      margin-left: 20rem;
    }
  }
</style>
